h1{	color: #4C4080;
    font-family: times new roman, arial;
	text-decoration: underline;}
 
h2{ color: #675C99;
    font-family: times new roman, arial;
	text-decoration: underline;}
	
body{ background: linear-gradient(to right, #D5D6EA, #F5F5F5, #D5D6EA);
		text-align:center;}
	
table  { background: #ECECF1;
		margin-left: auto;
		margin-right: auto;
		width: 800px;
		height: 70px;
		border:1px solid;}
		
p { color: #433E56;
		font-family: times new roman, arial;}
		
a:visited{ color: #5A5084;}	
